.notes-modal-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.notes-modal-header > *:not(:first-child) {
    margin-left: 22px;
}

.notes-modal-content {
    display: flex;
}

.notes-modal-editor {
    width: 100%;
    border: none;
}
